/* -----------------CSS For Main Page----------------- */
body {
    background-color: gold;
}
.burger-image {
    margin: auto;
}
/* -----------------CSS For Uneaten Burgers----------------- */
.uneaten {
    background-color: lightgreen;
}
/* -----------------CSS For Devoured Burgers----------------- */
.devoured {
    color: lightgray;
    background-color: grey;
}
/* -----------------CSS For Add New Burgers----------------- */
#insertBurger {
    width: 20em;
    margin-bottom: 0.5em;
}
.insertBurgerBtn {
    margin-bottom: 1em;
}